/* .home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fafcfd;
  height: 100svh;
  position: relative;
  padding: 0;
  
} */


  /* transform: translateY(-70px); */
  /* animation: fade-in 2s ease-in-out forwards; */

/* @keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateY(-70px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0px);
    }
} */


.home-button {
  color: #fafcfd;
  /* background-color:; */
  background: linear-gradient(
    to right,
    rgb(73, 85, 177) 20%,
    rgb(119, 179, 205) 50%,
    rgb(60, 88, 179) 80%
  );
  border-radius: 40px;
  font-weight: bold;
  height: 50px;
  width: auto;
  padding: 10px 20px;
  /* box-shadow: rgba(255, 255, 255, 0.6); */
  transition: box-shadow 0.5s ease-in-out;
  border: none;
  animation: transform;
  /* -webkit-box-shadow: 0 0 20px rgba(52, 152, 219, 0.7); Vendor prefix for older WebKit browsers */
}
.home-button:hover {
  box-shadow: 0 0px 20px rgba(181, 181, 178, 0.8); /* Apply the glow effect on hover */
  transform: scaleX(0.9);
}





/* Home.css */

.container-fluid.home {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.home-flex {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.home-content {
  flex: 1;
  text-align: left;
  color: #fafcfd;
  font-weight: bold;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  padding: 20px; /* Add padding for spacing */
}

.home-canvas {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add padding for spacing */
  max-width: 100%;
  position: relative;
   
}
.home-head h1{
  color: #fafcfd;
  font-size: 3rem;
  font-weight: bolder;
  
}
.home-para{
  color:#d6d9da;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

/* Media query for responsiveness */
@media (max-width: 768px) and (orientation: landscape) {
  .container-fluid.home {
    flex-direction: column;
    text-align: center; 
    height: 100%;/* Center the content on small screens */
  }

  .home-flex {
    flex-direction: row; /* Stack content vertically */
  }

  .home-content,
  .home-canvas {
    flex:auto;
    width: 100%;
    text-align: center;
    padding: 10px; /* Adjust the padding for spacing on small screens */
  }

  .home-head h1 {
    font-size: 2rem; /* Decrease font size for smaller screens */
  }
}

/* Media query for responsiveness */
@media (max-width: 768px) and (orientation: portrait) {
  .container-fluid.home {
    flex-direction: column;
    text-align: center; 
    height: 100%;/* Center the content on small screens */
  }

  .home-flex {
    flex-direction: row; /* Stack content vertically */
  }

  .home-content,
  .home-canvas {
    flex: none;
    width: 100%;
    text-align: center;
    padding: 10px; /* Adjust the padding for spacing on small screens */
  }

  .home-head h1 {
    font-size: 2rem; /* Decrease font size for smaller screens */
  }
}

