.service{
    
    height: 100vh;
    margin-top: 20px;
    /* display: flex;
    flex-direction: row; */
    color: #f2f6f9;
    align-items: center;
    text-align: center;
    padding: 10px;
}
@media (max-width:995px) and (orientation:landscape) {
  .service{
    height: auto !important;
  }
}
@media (max-width:768px) {
  .service{
    height: auto;
  }
}
h2{
    font-size: clamp(3rem,5vw + .8vh ,6rem);
}
p{
   font-size: x-large;
}
.solve{
    font-size: 1.6rem;
    font-weight: bold;
}
.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding:50px; */
}

.info1 h3{
    font-size: clamp(1.6rem,5vw + .8vh ,2.2rem);
    font-weight: bold;
}
@media (max-width:760px) {
    .service{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
   .info1 {
   font-size:clamp(1.4rem,5vw + .8vh ,2.1rem);
   padding: 5px;
   }
   .info1 p{
    font-size: large ;
   }     
    }
    @media (max-width: 760px)  {
        /* flex-direction:row; */
        /* .help1 {
           
            justify-content: flex-start;
            align-items: center;
          } */
       
        /* .service {
          height: auto;
          display: flex;
          flex-direction: column;
        } */
      
        /* .info1 {
          font-size: clamp(1rem, 3vw + 0.8vh, 1.6rem);  Adjust font size 
          padding: 5px;
        } */
      
        /* .info1 p {
          font-size: small; /* Adjust font size 
        }
      
        .infos {
          flex-wrap: wrap;
          justify-content: space-evenly;
        }
      } */
      @media screen and (max-width: 1200px) {
        .container-fluid.service {
          padding: 10px;
        }
      
        .our-service {
          padding: 10px;
        }
      
        .help1 {
          flex-direction: column;
          align-items: center;
        }
      
        .help {
          flex: none;
          margin-bottom: 20px;
        }
      }
    }
      
    
